<mat-card>
  <mat-card-header>
    <mat-card-title>
      Login
    </mat-card-title>
    <mat-card-subtitle>
      Accede a tu cuenta
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (submit)="loginUser()" action="">
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="Email">
        <mat-error *ngIf="email?.errors?.['required'] && email?.touched">
          El campo email es obligatorio
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email'] && email?.touched">
          El formato de email no es correcto
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="password">
        <mat-error *ngIf="password?.errors?.['required'] && password?.touched">
          El campo password es obligatorio
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" (submit)="loginUser()" [disabled]="loginForm.invalid">Acceder</button>
    </form>
  </mat-card-content>
</mat-card>



