<div class="task-item">
  <div [ngClass]="
    {
      'info-task': task.level === 0,
      'urgent-task': task.level === 1,
      'blocking-task': task.level === 2
    }"
    class="task-icon"
  >
    <span [ngSwitch]="task.level">
      <mat-icon *ngSwitchCase="0">
        info
      </mat-icon>
      <mat-icon *ngSwitchCase="1">
        report_problem
      </mat-icon>
      <mat-icon *ngSwitchCase="2">
        dangerous
      </mat-icon>
      <mat-icon *ngSwitchDefault="0">
        info
      </mat-icon>
    </span>
  </div>
  <h2>{{task.title}}</h2>
  <h3>{{task.description}}</h3>
</div>
